# VS Code
.vscode/

# Database
*.db

# ML Models
*.pkl

# Zip files
*.zip

# Jupyter checkpoints
.ipynb_checkpoints/

# Jupyter checkpoints
.ipynb_checkpoints/

# Backup files
*_backup.py

# Project proposal files
Hackathon-3 Project proposal.docx
Hackathon-3 Project proposal.pdf